.payment-success-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.check-icon {
  font-size: 4rem;
  color: white;
  opacity: 0;
  animation: fadeInCheck 0.8s ease forwards;
}

.payment-success-message {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  transform: translateX(-50%);
  animation: slideInText 0.6s ease forwards;
  animation-delay: 0.8s;
}

@keyframes fadeInCheck {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes slideInText {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
