body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toast-container {
  position: relative;
}

.toast {
  display: block; /* Mostrar directamente */
  opacity: 1;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
