<div class="container-fluid">
  <div class="row pt-5">
    <!-- Columna 1: Información general -->
    <div class="col-md-5 col-12 text-center text-md-start">
      <h1>Wok my noodles</h1>
      <h2 class="rojo">RESTAURANTE ASIATICO</h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/terminos" class="nav-link p-0">Términos y condiciones</a></li>
        <li class="nav-item mb-2"><a href="/proteccion-datos" class="nav-link p-0">Protección de datos</a></li>
        <li class="nav-item mb-2"><a href="/aviso-legal" class="nav-link p-0">Aviso legal</a></li>
      </ul>
    </div>

    <!-- Columna 2: Enlaces -->
    <div class="col-md-2 col-12 text-center text-md-start">
      <h5 class="rojo">Enlaces</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="" class="nav-link p-0">Inicio</a></li>
        <li class="nav-item mb-2"><a href="" class="nav-link p-0">Carta</a></li>
        <li class="nav-item mb-2"><a href="" class="nav-link p-0">Contacto</a></li>
      </ul>
    </div>

    <!-- Columna 3: Contáctanos -->
    <div class="col-md-2 col-12 text-center text-md-start">
      <h5 class="rojo">Contáctanos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="tel:+34 454-454-454" class="nav-link p-0">+34 454-454-454</a></li>
        <li class="nav-item mb-2"><a href="mailto:wokmynoodles@gmail.com" class="nav-link p-0">wokmynoodles&#64;gmail.com</a></li>
      </ul>
    </div>

    <!-- Columna 4: Síguenos -->
    <div class="col-md-3 col-12 text-center text-md-start">
      <h5 class="rojo">Síguenos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 d-flex align-items-center justify-content-center justify-content-md-start">
          <a href="https://www.instagram.com/WokMyNoodles" class="nav-link p-0 me-2">&#64;WokMyNoodles</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
            <path d="M8 0C5.829 0 5.556.01 4.703.048..."/>
          </svg>
        </li>
        <!-- Añadir más iconos de redes sociales de manera similar -->
      </ul>
    </div>

    <div class="col-12 text-center py-4">
      Copyright © 2024 Wok my noodles
    </div>
  </div>
</div>
