<div class="cartContainer text-center">
  <h1 class="my-4">NUESTRA CARTA</h1>

  <!-- Categorías -->
  <nav class="categorias">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a class="nav-link" href="#">ENTRANTES</a></li>
      <li class="nav-item"><a class="nav-link" href="#">PRINCIPALES</a></li>
      <li class="nav-item"><a class="nav-link" href="#">POSTRES</a></li>
      <li class="nav-item"><a class="nav-link" href="#">BEBIDAS</a></li>
    </ul>
  </nav>

  <!-- Entrantes -->
  <h2 class="mt-4">ENTRANTES</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of entrantes">
      <div class="food-card">
        <div class="food-card-image">
          <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
        </div>
        <div class="food-card-body">
          <div class="food-card-title">
            <span>{{ producto.nombre }}</span>
            <span>{{ producto.precio | currency:'EUR' }}</span>
          </div>
          <div class="food-card-footer">
            <span class="rating">⭐ {{ producto.puntuacion }}</span>
            <button class="btn-ver-mas">Ver más +</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Principales -->
  <h2 class="mt-4">PRINCIPALES</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of principales">
      <div class="card border-danger h-100">
        <img [src]="producto.imagen" class="card-img-top img-fluid p-3" alt="imagen producto" />
        <div class="card-body text-center">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.precio | currency:'EUR' }}</p>
          <p class="text-warning">⭐ {{ producto.puntuacion }}</p>
          <button class="btn btn-danger">Ver más +</button>
        </div>
      </div>
    </div>
  </div>
</div>
