<div class="container-fluid">
  <div class="row align-items-center">
    <!-- Sección de texto -->
    <div class="col-md-6 text-center">
      <h1 class="sobrenosotros">SOBRE NOSOTROS</h1>
      <p>
        En <strong>Wook my Noodles</strong>, fusionamos la tradición y la innovación para ofrecerte lo mejor de la cocina asiática. Nuestros platos son preparados al instante en un wok ardiente, combinando ingredientes frescos y salsas auténticas para brindarte una explosión de sabores en cada bocado.
      </p>
      <p>
        Nos apasiona la calidad y el buen servicio. Por eso, seleccionamos cuidadosamente cada producto para garantizar una experiencia única. Ya sea que busques un almuerzo rápido o una cena especial, en Wok Delicias te transportamos a los rincones más exquisitos de la gastronomía oriental. ¡Ven y descubre tu nuevo lugar favorito!
      </p>
    </div>


    <!-- Sección de imagen -->
    <div class="col-md-6 d-flex justify-content-center">
      <div class="cuadrado">
        <img
          src="../../../../assets/istockphoto-1333619345-612x612-removebg-preview%201.svg"
          alt="Imagen decorativa"
          class="img-fluid"
        >
      </div>
    </div>
  </div>
</div>
