/* Estilo para el contenedor de los términos y condiciones */
.legal-notice {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .legal-notice h2,
  .legal-notice h4 {
    font-weight: bold;
    color: #e63946; /* Rojo para los títulos */
  }
  
  .legal-notice p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
  }
  
  .legal-notice .row {
    border-radius: 15px;
    padding: 20px;
    color: black;
  }
  
  .legal-notice .row h4 {
    margin-top: 20px;
  }
  
  .legal-notice .row p {
    margin-bottom: 15px;
  }
  
  /* Estilos para la responsividad */
  @media (max-width: 768px) {
    .legal-notice {
      padding: 1rem;
    }
    
    .legal-notice h2 {
      font-size: 1.5em;
    }
  
    .legal-notice p {
      font-size: 1em;
    }
    
    .legal-notice .row {
      padding: 10px;
    }
  }
  