<div class="containera">
  <div class="container">
    <div class="registro">
      <h1 class="auth-title">REGÍSTRATE</h1>

      <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-column">
          <label for="name">Nombre:</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="name"
            placeholder="Introduce tu nombre"
            required
          />

          <label for="email">Correo electrónico:</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Introduce tu correo"
            required
          />

          <label for="password">Contraseña:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Introduce tu contraseña"
            required
          />
        </div>

        <div class="form-column">
          <label for="lastName">Apellidos:</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            [(ngModel)]="lastName"
            placeholder="Introduce tus apellidos"
            required
          />

          <label for="phoneNumber">Número de teléfono:</label>
          <input
            type="tel"
            id="phoneNumber"
            name="phoneNumber"
            [(ngModel)]="phoneNumber"
            placeholder="Introduce tu número"
            required
          />

          <label for="confirmPassword">Confirmar contraseña:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Confirma tu contraseña"
            required
          />
        </div>
      </form>

      <div class="conditions">
        <label><input type="checkbox" required> Acepto las <a routerLink="">condiciones de uso</a></label><br>
        <label><input type="checkbox" required> Acepto la <a href="#">política de privacidad</a></label><br>
      </div>

      <button type="submit" class="submit-btn" [disabled]="isLoading">
        {{ isLoading ? 'Registrando...' : 'Registrarse' }}
      </button>
    </div>
  </div>
</div>
