<div class="container-fluid">
  <div class="row align-items-center">

    <div class="leftSite col-md-6 text-center text-md-start">
      <div class="image-container position-relative">
        <div class="background"></div>
        <img src="../../../../assets/Frame%20196@2x.png" alt="Imagen de comida" class="image">
      </div>
    </div>

    <div class="col-md-5 text-center text-md-start">
      <p class="mt-4">Bienvenido</p>
      <h1 class="display-3">Wok</h1>
      <h1 class="display-3">My Noodles</h1>
      <p class="mt-4">Tu comida favorita, servida en tu mesa con un solo click</p>
      <button routerLink="/products-cart" class="rounded-5 mt-5 px-5 w-50">¡Pide ya!</button>
    </div>

    <div class="col-md-1 d-none d-md-flex justify-content-center">
      <p class="vertical-text">palabras chinas</p>
    </div>
  </div>
</div>
