
<div class="admin-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/admin/admin-products" routerLinkActive="active">PRODUCTOS</a></li>
        <li><a routerLink="/admin/admin-categories" routerLinkActive="active">CATEGORIAS</a></li>
        <li><a routerLink="/admin/admin-categories-ingredients" routerLinkActive="active">CATEGORIAS DE INGREDIENTES</a></li>
        <li><a routerLink="/admin/admin-ingredients" routerLinkActive="active">INGREDIENTES</a></li>
        <li><a routerLink="/admin/admin-forms" routerLinkActive="active">FORMULARIOS</a></li>
        <li><a routerLink="/admin/admin-users" routerLinkActive="active">USUARIOS*!</a></li>

      </ul>
    </nav>
  </aside>

  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>
</div>
