
<div class="admin-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/admin/admin-products" routerLinkActive="active">Gestión de Productos</a></li>
        <li><a routerLink="/admin/admin-users" routerLinkActive="active">Gestión de Usuarios</a></li>
        <li><a routerLink="/admin/admin-forms" routerLinkActive="active">Formularios Recibidos</a></li>
      </ul>
    </nav>
  </aside>

  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>
</div>
