<div class="back">
  <div class="cart-container">
    <h1 class="cart-title">TU COMPRA</h1>

    <div *ngFor="let producto of productos" class="cart-item">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="cart-item-image">
      <div class="cart-item-details">
        <p class="cart-item-name">{{ producto.nombre }}</p>
        <p class="cart-item-allergens">{{ producto.alergenos }}</p>
      </div>
      <div class="cart-item-quantity">
        <button (click)="cambiarCantidad(producto, producto.cantidad - 1)" class="quantity-btn">-</button>
        <span class="quantity">{{ producto.cantidad }}</span>
        <button (click)="cambiarCantidad(producto, producto.cantidad + 1)" class="quantity-btn">+</button>
      </div>
      <div class="cart-item-price-container">
        <p class="cart-item-price">{{ producto.precio }} EUR</p>
      </div>

    </div>

    <div class="promo-code">
      <label for="promo">¿Tienes un código promocional?</label>
      <input type="text" [(ngModel)]="promoCode" id="promo" placeholder="Introduce el código aquí">
      <button (click)="aplicarPromo()" class="apply-promo-btn">Aplicar</button>
    </div>

    <div class="summary">
      <div class="summary-item">
        <p>Subtotal:</p>
        <p class="subtotal">{{ subtotal }} EUR</p>
      </div>
      <div class="summary-item">
        <p>Descuento:</p>
        <p class="discount">{{ descuento }} EUR</p>
      </div>
      <div class="summary-item">
        <p>Total:</p>
        <p class="total">{{ total }} EUR</p>
      </div>
    </div>

    <button class="checkout-btn">Proceder al pago</button>
  </div>
</div>

