<div class="container-fluid">
<div class="row">
  <div class="col-md-12 recompensas text-center">
    <h1 class="recompensah1">
      Regístrate para obtener recompensas asombrosas
    </h1>
    <p class="recompensasp">
      Con cada compra, acumula puntos que podrás canjear por premios y ofertas exclusivas.
    </p>
    <img src="../../../../assets/img/moneda.png" alt="moneda" class="moneda img-fluid">
    <br>
    <button class="rounded-5 mt-5 px-5">¡Regístrate ya!</button>
  </div>
</div>
</div>
