<div class="container-fluid">
<div class="row">
  <div class="col-md-12 recompensas text-center">
    <h1 class="recompensah1">
      MUCHO SABOR, POR MUY POCO    </h1>
    <p class="recompensasp">
      Nuestros precios son tan redondos como una moneda. ¡Descúbrelo tú mismo!


    </p>
    <img src="../../../../assets/img/moneda.png" alt="moneda" class="moneda img-fluid">
    <br>
    <button routerLink="/products-cart" class="rounded-5 mt-5 px-5">¡Empieza a saborear !</button>
  </div>
</div>
</div>
