<div class="cart-title-container">
    <h1 class="titulo-carta text-center">NUESTRA CARTA</h1>
  </div>


  <nav class="categorias">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#entrantes" (click)="$event.preventDefault(); scrollTo('entrantes')">ENTRANTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#principales" (click)="$event.preventDefault(); scrollTo('principales')">PRINCIPALES</a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link" href="#postres"(click)="$event.preventDefault(); scrollTo('postres')">POSTRES</a></li>
      <li class="nav-item"  >
        <a class="nav-link" href="#bebidas"(click)="$event.preventDefault(); scrollTo('bebidas')">BEBIDAS</a></li>
    </ul>
  </nav>

  <div class="cartContainer text-center">
    <h2 class="mt-4" id="entrantes">ENTRANTES</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let producto of entrantes">
        <div class="food-card">
          <div class="food-card-image">
            <img [src]="producto.image" alt="{{ producto.name }}" />
          </div>
          <div class="food-card-body">
            <div class="food-card-title">
              <span>{{ producto.name }}</span>
              <span>{{ producto.price + ' EUR' }}</span>
            </div>
            <div class="food-card-footer">
              <span class="rating">⭐ {{ producto.rating }}</span>
              <button class="btn-ver-mas" (click)="openPopup(producto)">Ver más +</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" *ngIf="selectedProduct" (click)="closePopup()">
      <div class="popup-body" (click)="$event.stopPropagation()">
        <div class="col-md-5">
          <img [src]="selectedProduct.image" alt="{{ selectedProduct.name }}" class="popup-image"/>
        </div>
        <div class="col-md-7 popup-info">
          <div class="header">
            <span class="product-type">{{ selectedProduct.foodCategory?.name }}</span>
            <h2>{{ selectedProduct.name }}</h2>
            <p class="description">{{ selectedProduct.description }}</p>
          </div>

          <hr class="separator">

          <div class="rating-container">
            <span class="rating">⭐ {{ selectedProduct.rating }}</span>
          </div>

          <div class="containerButton">
            <button class="add-to-cart" (click)="handleAddToCart(selectedProduct)">Añadir al carrito · {{ selectedProduct.price + ' EUR' }}</button>
          </div>
        </div>

      </div>
    </div>


    <div>
    <h2 class="mt-4" id="principales">PRINCIPALES</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let producto of principales">
        <div class="food-card">
          <div class="food-card-image">
            <img [src]="producto.image" alt="{{ producto.name }}" />
          </div>
          <div class="food-card-body">
            <div class="food-card-title">
              <span>{{ producto.name }}</span>
              <span>{{ producto.price + ' EUR' }}</span>
            </div>
            <div class="food-card-footer">
              <span class="rating">⭐ {{ producto.rating }}</span>
              <button class="btn-ver-mas" (click)="openPopup(producto)">Ver más +</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div>
      <h2 class="mt-4" id="postres">POSTRES</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let producto of postres">
          <div class="food-card">
            <div class="food-card-image">
              <img [src]="producto.image" alt="{{ producto.name }}" />
            </div>
            <div class="food-card-body">
              <div class="food-card-title">
                <span>{{ producto.name }}</span>
                <span>{{ producto.price + ' EUR' }}</span>
              </div>
              <div class="food-card-footer">
                <span class="rating">⭐ {{ producto.rating }}</span>
                <button class="btn-ver-mas" (click)="openPopup(producto)">Ver más +</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="mt-4" id="bebidas">BEBIDAS</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let producto of bebidas">
          <div class="food-card">
            <div class="food-card-image">
              <img [src]="producto.image" alt="{{ producto.name }}" />
            </div>
            <div class="food-card-body">
              <div class="food-card-title">
                <span>{{ producto.name }}</span>
                <span>{{ producto.price + ' EUR' }}</span>
              </div>
              <div class="food-card-footer">
                <span class="rating">⭐ {{ producto.rating }}</span>
                <button class="btn-ver-mas" (click)="openPopup(producto)">Ver más +</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
