<div class="admin-forms-container">
  <h2 class="section-title">Formularios Recibidos</h2>

  <div class="filters">
    <input [(ngModel)]="searchName" type="text" placeholder="Buscar por nombre..." />
    <input [(ngModel)]="startDate" type="date" />
    <input [(ngModel)]="endDate" type="date" />
  </div>

  <table>
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Comentario</th>
      <th class="date-column">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of filteredForms">
      <td>{{ form.user.name }}</td>
      <td>{{ form.comentario }}</td>
      <td>{{ formatDate(form.createdAt) }}</td>
    </tr>
    </tbody>
  </table>
</div>
