<div class="admin-forms-container">
  <h2 class="section-title">Formularios Recibidos</h2>

  <div class="filters">
    <input [(ngModel)]="searchName" type="text" class="filter-input" placeholder="Buscar por nombre..." (ngModelChange)="applyFilters()" />
    <input [(ngModel)]="startDate" type="date" class="filter-input" (change)="applyFilters()" />
    <input [(ngModel)]="endDate" type="date" class="filter-input" (change)="applyFilters()" />

  </div>

  <table>
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Comentario</th>
      <th class="date-column">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of filteredForms">
      <td>{{ form.user?.name || 'Anónimo' }}</td>
      <td>{{ form.comentario || 'Sin comentario' }}</td>
      <td>{{ formatDate(form.createdAt) }}</td>
    </tr>
    </tbody>
  </table>
</div>
