.user-container {
  background-color: #121212;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}



.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-header h1 {
  font-size: 2.5em;
  margin: 0;
}

.user-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.info-item {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.info-label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-data {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-bottom: 5px;
  border-bottom: 1px solid #e63946;
  padding-bottom: 5px;
  justify-content: space-between;
  padding-right: 20px;
}

.edit-btn {
  background: none;
  border: none;
  color: #e63946;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
}

.change-password-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.change-password-btn:hover {
  background-color: #c82635;
}


.line-separator{
  height: 2px;
  margin-top: 25px;
  width: 65%;
  padding: 0%;
  border-radius: 30px;
  background-color:#c82635;
}


.cart-title-container{
  background-image: url("/assets/img/backCarta.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

.titulo-carta {
  font-size: 2.8rem;
  font-weight: bold;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
}

.categorias {
  background-color: #1c1c1c;
  padding: 10px 0;
}

.categorias .nav-link {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  margin: 0 15px;
  transition: color 0.3s;
}

.categorias .nav-link:hover {
  color: #e63946 !important;
}

.cartContainer {
  padding: 50px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.food-card {
  color: black;
  font-size: 20px;
  background: white;
  border: 2px solid red;
  border-radius: 30px;
  padding: 8px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.food-card:hover {
  transform: scale(1.015);
}

.food-card-image img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  margin: auto;
  display: block;
  max-height: 200px;
}

.food-card-body {
  flex-grow: 1;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.food-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 1.2em;
  margin-bottom: 2px;
}

.food-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 0;
}

.rating {
  color: gold;
  font-size: 0.85em;
}

.btn-ver-mas {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85em;
}

.btn-ver-mas:hover {
  background-color: #c82635;
}
.fav-products-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 10px 0;
  overflow: auto;
  scrollbar-color: #e63946 #121212;
  width: 100%;
  white-space: nowrap;



}

.food-card {
  color: black;
  font-size: 20px;
  background: white;
  border: 2px solid red;
  border-radius: 30px;
  padding: 8px;
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.food-card:hover {
  transform: scale(1.015);
}

.food-card-image img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  margin: auto;
  display: block;
  max-height: 200px;
}

.food-card-body {
  flex-grow: 1;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.food-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 20px;
  font-size: 1.2em;
  margin-bottom: 2px;
}

.food-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 0;
}

.rating {
  color: gold;
  font-size: 0.85em;
}

.btn-ver-mas {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85em;
}

.btn-ver-mas:hover {
  background-color: #c82635;
}

