<div class="user-container">
  <div class="user-header">
    <img class="user-avatar" src="\assets\img\userImage.jpg" alt="User Avatar">
    <h1>Buenas {{ user?.name }}</h1>
  </div>

  <div class="user-info">
    <h2>Datos personales</h2>

    <div class="info-item">
      <span class="info-label">Nombre:</span>
      <div class="info-data">
        <ng-container *ngIf="!editando.name; else editarNombre">
          {{ user?.name }}
          <button class="edit-btn" (click)="activarEdicion('name')">✏️</button>
        </ng-container>
        <ng-template #editarNombre>
          <input [(ngModel)]="tempValues.name" type="text" />
          <button class="edit-btn" (click)="guardarEdicion('name')">✔️</button>
          <button class="edit-btn" (click)="cancelarEdicion('name')">❌</button>
        </ng-template>
      </div>
    </div>

    <div class="info-item">
      <span class="info-label">Apellidos:</span>
      <div class="info-data">
        <ng-container *ngIf="!editando.secondName; else editarApellido">
          {{ user?.secondName }}
          <button class="edit-btn" (click)="activarEdicion('secondName')">✏️</button>
        </ng-container>
        <ng-template #editarApellido>
          <input [(ngModel)]="tempValues.secondName" type="text" />
          <button class="edit-btn" (click)="guardarEdicion('secondName')">✔️</button>
          <button class="edit-btn" (click)="cancelarEdicion('secondName')">❌</button>
        </ng-template>
      </div>
    </div>

    <div class="info-item">
      <span class="info-label">Email:</span>
      <div class="info-data">
        <ng-container *ngIf="!editando.email; else editarEmail">
          {{ user?.email }}
          <button class="edit-btn" (click)="activarEdicion('email')">✏️</button>
        </ng-container>
        <ng-template #editarEmail>
          <input [(ngModel)]="tempValues.email" type="text" />
          <button class="edit-btn" (click)="guardarEdicion('email')">✔️</button>
          <button class="edit-btn" (click)="cancelarEdicion('email')">❌</button>
        </ng-template>
      </div>
    </div>

    <div class="info-item">
      <span class="info-label">Número de teléfono:</span>
      <div class="info-data">
        <ng-container *ngIf="!editando.number; else editarNumero">
          {{ user?.number }}
          <button class="edit-btn" (click)="activarEdicion('number')">✏️</button>
        </ng-container>
        <ng-template #editarNumero>
          <input [(ngModel)]="tempValues.number" type="text" />
          <button class="edit-btn" (click)="guardarEdicion('number')">✔️</button>
          <button class="edit-btn" (click)="cancelarEdicion('number')">❌</button>
        </ng-template>
      </div>
    </div>

    <div class="info-item">
      <span class="info-label">Contraseña:</span>
      <div class="info-data">
        **************
        <button class="edit-btn" (click)="abrirPopup()">✏️</button>
      </div>
    </div>
  </div>

  <div class="line-separator"></div>

  <div class="fav-products mt-4">
    <h2>Productos favoritos</h2>
  </div>

  <div class="fav-products-container">
    <div class="" *ngFor="let producto of productos">
      <div class="food-card">
        <div class="food-card-image">
          <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
        </div>
        <div class="food-card-body">
          <div class="food-card-title">
            <span>{{ producto.nombre }}</span>
            <span>{{ producto.precio + ' EUR' }}</span>
          </div>
          <div class="food-card-footer">
            <span class="rating">⭐ {{ producto.puntuacion }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="password-popup" *ngIf="mostrarPopupContrasena">
    <div class="popup-content">
      <h3>Cambiar contraseña</h3>
      <input type="password" [(ngModel)]="passwordData.oldPassword" placeholder="Contraseña actual" />
      <input type="password" [(ngModel)]="passwordData.newPassword" placeholder="Nueva contraseña" />
      <div class="popup-buttons">
        <button (click)="confirmarCambioPassword()">Cambiar</button>
        <button (click)="cerrarPopup()">Cancelar</button>
      </div>
      <p class="error" *ngIf="passwordError">{{ passwordError }}</p>
    </div>
  </div>

  <div class="toast-success" *ngIf="mostrarToast">
    {{ mensajeToast }}
  </div>

</div>
