<div class="container-fluid ">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0  ">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="home" class="titulo d-inline-flex link-body-emphasis text-decoration-none align-items-center font-family">
        <h2 class="fw-bold text-white">WOK MY NOODLES</h2>
      </a>
    </div>

    <ul class="nav col-12 fs-5 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="home" routerLinkActive="active" class="nav-link px-3">INICIO</a></li>
      <li><a routerLink="products-cart" routerLinkActive="active" class="nav-link px-3">CARTA</a></li>
      <li><a routerLink="contact" routerLinkActive="active" class="nav-link px-3">CONTACTO</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button routerLink="cart" routerLinkActive="active" type="button" class="btn btn-light me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
        </svg>
      </button>

      <button routerLink="user-space" routerLinkActive="active"  type="button" class="btn btn-light me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </button>
    </div>
  </header>
</div>
