@for (selectedProduct of productos; track $index) {
    <div class="popup">
        <div class="row">
          <div class="col-md-5">
            <img [src]="selectedProduct.imagen" alt="{{ selectedProduct.nombre }}" class="popup-image"/>
          </div>
          <div class="col-md-7">
            <div class="header">
                <span class="product-type">{{ selectedProduct.categoria }}</span>
            <h2>{{ selectedProduct.nombre }}</h2>
            <p class="description">{{ selectedProduct.descripcion }}</p>
            </div>
            
            <hr class="separator">
            <div class="allergens">
              <span><strong>ALÉRGENOS:</strong> {{ selectedProduct.alergenos }}</span>
            </div>
            <div class="rating">
              <span>⭐ {{ selectedProduct.puntuacion }}</span>
            </div>
            <div class="containerButton">
                <button class="add-to-cart">Añadir al carrito · {{ selectedProduct.precio + ' EUR' }}</button>
            </div>
          </div>
        </div>
      </div>
      
}